*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}

/* navbar */

#navbar{
    background-color: whitesmoke !important;
    position: fixed !important;
    z-index: 1 !important;
}
.navbar-brand i{
    color: blueviolet;
    font-size: 40px;
}
#searchBar{
width: 350px;
/* background-color: gray; */
}
#searchBar:focus{
    border: 5px solid blueviolet !important;
}
.nav-item-li{
    position: relative;
    background-color: white;
    /* border: 1px solid blueviolet; */
    margin:0px 18px;
    border-radius: 100%;
    height: 38px;
    width: 38px;
  padding-left: 1px;
    margin-top: 3px;
    transition: 1s all ease;
}
.nav-item-li:hover{
    background-color: rgb(180, 100, 255);
}
.nav-item-li i{
    font-size: 18px;
    color: gray;
}
.nav-item-li:hover i{
    color: white;
}
.fa-bell{
    margin-left: 1px;
}
.fa-house{
    margin-left: -1px;
}
.nav-item-li p{
    position: absolute;
    left: -10px;
    bottom: -31px;
    font-size: 11px;
    font-weight: 500;
}
#homeText{
    margin-left: 14px;
}
#messageText{
    margin-left: 8px;
}
.dropdown-menu{
    background-color: gray !important;
}
.dropdown-menu li a{
    color: white;
    

}
.dropdown-menu li a i{
    color: white;
    margin-right: 6px !important;
}
.dropdown-menu li:hover a i{
    color: gray;
}
#displayBox{
    padding-top: 80px;
}

/* main template */
.col-6{
    height: 600px !important;
    overflow-y: auto;
    background-color: rgb(243, 243, 243);
}
.postBox{
    position: relative;
    /* max-width:500px !important; */
    height: 110px;
    background-color: rgb(67, 67, 67);
}
#postInputBar{
    max-width: 400px !important;
    height: 40px;
    margin-bottom: 0px;
    /* margin-top: 8px; */
    border: none;
    padding-top: 8px;
    outline: none;
    background-color: rgb(67, 67, 67);
}
#postInputBar::placeholder{
    color: whitesmoke;
}
.list-group-item{
    position: absolute;
    top: -10px;
}
.multipleIconBox{
    margin-top: -20px;
    height: 40px;
}
.mediaIcon{
    cursor: pointer;
    color: whitesmoke;
}
.mediaIcon i{
    font-size: 18px;
    margin-top: 3px;
}
.fa-image{
    color: greenyellow;
}
.fa-video{
color: rgb(50, 94, 255);
}
.fa-icons{
    color: rgb(255, 83, 21);
    }
.fa-newspaper{
     color: rgb(241, 188, 52);
 }

 /* modal */
.modal-content{
    background-color:rgb(67, 67, 67) !important;
}
 .btn-close{
    background-color: white !important;
    opacity: 0.9 !important;
    width: 20px !important;
 }
 .modal-footer button{
    font-size: 20px;
    color: rgb(67, 67, 67) !important;
    letter-spacing: 1px;
 }
 .modal-title{
    padding-left: 30px !important;
    letter-spacing: 1px;
    font-weight: 700;
 }
 .modalPostArea{
    position: relative;
 }
 .modalPostArea textarea{
    height: 150px !important;
    padding-top: 8px;
    color:rgb(77, 77, 77);
    outline: none;
    margin-top: 15px;
 }
 .userName{
    margin-bottom: 0px;
    font-weight: 500;
    position: absolute;
    top: 5px;
    left: 60px;
 }
 .userDisc{
    position: absolute;
    top: 25px;
    left: 60px;
 }
 .userImg{
    padding-top: 5px;
    width: 40px;
 }
 .modalMediaBox i{
    margin-top: 5px;
    cursor: pointer;
    font-size: 18px;
 }
 .modalMediaBox .fa-video{
    color: rgb(255, 83, 21);
 }
 .modalMediaBox .fa-location-dot{
    color: rgb(50, 94, 255);
 }
 .modalMediaBox .fa-music{
    color: crimson;
 }
 .modalMediaBox .fa-face-smile{
    color: seagreen;
 }

 /* <!-- main postArea/ --> */
 .postContentDiv{
     background-color: white !important;
 }
 .postArea{
    position: relative;
 }
 #postTime{
    position: absolute;
    bottom: -10px;
    left: 58px;
 }
 .postText{
    position: absolute;
    top: 50px;
    left: 15px;
 }
 #inputFileUpload{
    display: none;
 }

 .col{
    height: 600px !important;
    overflow-y: auto;
    background-color: rgb(243, 243, 243);
 }
 #ContentBox{
    background-color: white;
 }

 /* userdetailArea */
 .userDetailArea{
     position: relative;
     background-color: white;
 }
 .activeUserDetail{
     background-color: white;
     font-weight: 500;
 }
 .background{
    height: 80px;
    background-color: rgb(67, 67, 67);
    color: white;
    font-weight: 500;
    border-radius: 10px 10px 0px 0px;
 }
 #follower{
    font-size: 14px !important;
 }
 #following{
    font-size: 14px !important;
 }
 .userDetailArea img{
    position: absolute;
    top: 30px;
    right: 90px;
    width: 60px;
    border-radius: 50%;
 }

 .profileBtn{
    background-color: rgb(67, 67, 67);
    font-weight: 700;
    color: white;
    transition: 1s all ease;
 }
 .profileBtn:active{
    background-color: rgb(67, 67, 67);
    opacity: 0.1;
    transform: scale(0.8);
 }
 .activityList li{
    display: flex;
list-style-type: none;
margin-bottom: 18px;
font-weight: 500;
height: 40px;
transition: 1s all ease;
padding-top: 5px;
padding-left: 10px;
cursor: pointer;
border-radius: 5px;
 }


 .activityList li i{
    margin-top: 4px;
    font-size: 20px;
     color: rgb(65, 222, 170);
 }
 .activityList li:hover{
  background-color: rgb(77, 77, 77);
  color: white;  
 }

 /* notificationArea */
.massangerBox{
    display: none;
    background-color: white;
    color: white;
}
.inboxChat{
    background-color: rgb(77, 77, 77);
    height: 55px;
    cursor: pointer;
}
 #status{
bottom: -10px;
left: 60px;
font-size: 13px;
 }
 .closeBtn{
    top: 0px;
    right: 8px;
    font-size: 32px;
    background: none;
    border: none;
 }
 .friendListBox{
    height: 90px;
    background-color: white;
 }
 
 .friendListBox .reqPerson{
    position: absolute;
    top: 8px;
    left: 60px;
    font-weight: 500;
 }
 
 .friendListBox #mutual{
    position: absolute;
    top: 28px;
    left: 60px;
    font-size: 14px;
}
 
 .friendListBox .btn{
    position: absolute;
    left: 10px;
    bottom: 6px;
 }
 
 .friendListBox .btn button{
    width: 80px;
    background-color: rgb(77, 77, 77);
    color: white;
    font-size: 14px;
    border-radius: 8px;
    border: none;
 }
 .friendListBox .btn .accept{
    background-color: rgb(28, 212, 150) !important;
 }